<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.dao.ResourceMapper" >
    <resultMap id="BaseResultMap" type="com.lin.model.Resource" >
        <!--  自动生成 2020年01月11日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="details" property="details" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="scope" property="scope" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2020年01月11日 表字段名称 -->
        id, url, details, create_time, scope
    </sql>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2020年01月11日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from resource
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <update id="update" parameterType="com.lin.model.Resource" >
        <!--  自动生成 2020年01月11日 更新数据 -->
        update resource
        <set >
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="details != null" >
                details = #{details,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="scope != null" >
                scope = #{scope,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.lin.model.Resource" >
        <!--  自动生成 2020年01月11日 添加数据 -->
        insert into resource
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="details != null" >
                details,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="scope != null" >
                scope,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="details != null" >
                #{details,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="scope != null" >
                #{scope,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2020-01-11 添加多条数据 -->
        insert into resource (id, url, details, create_time, scope)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.id,jdbcType=BIGINT}, #{item.url,jdbcType=VARCHAR}, #{item.details,jdbcType=VARCHAR}, #{item.createTime,jdbcType=BIGINT}, #{item.scope,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2020年01月11日 删除数据 -->
        delete from resource
        where id = #{id,jdbcType=BIGINT}
    </delete>
</mapper>